
atmosphere-grid:
  number-of-layers: 100
  
planet:
  planet-mass: 6.4169e26 # Mars (g)
  planet-radius: 3.3895e8 # Mars (cm)
  number-of-zenith-angles: 4
  surface-albedo: 0.2
  photon-scale-factor: 0.4286 # Mars
  
optical-properties:
  k-method: RandomOverlapResortRebin
  opacities: {k-distributions: true, CIA: true, rayleigh: true, photolysis-xs: true,
    water-continuum: MT_CKD}
