name: test

on: push

env:
  BUILD_TYPE: Debug

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - uses: mamba-org/setup-micromamba@v2
      with:
        environment-name: test-env
        create-args: >-
          python
          numpy
          h5py
          cmake=3 
          fypp 
          clang 
          gfortran
          valgrind

    - name: Install glibc debug symbols for valgrind
      run: |
        sudo apt-get update
        sudo apt-get install -y --no-install-recommends libc6-dbg

    - name: configure cmake
      shell: bash -el {0}
      run: |
        export CC="$(which clang)"
        export CXX="$(which clang)"
        export FC="$(which gfortran)"
        export CONDA_PREFIX_SAVE=$CONDA_PREFIX
        unset CONDA_PREFIX
        cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} -DCMAKE_PREFIX_PATH=$CONDA_PREFIX_SAVE
        export CONDA_PREFIX=$CONDA_PREFIX_SAVE

    - name: build
      shell: bash -el {0}
      run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}}

    - name: test
      shell: bash -el {0}
      working-directory: ${{github.workspace}}/build
      run: |
        ./tests/test_radtran
        valgrind --error-exitcode=1 --leak-check=full ./tests/test_radtran
        ./tests/test_adiabat
        valgrind --error-exitcode=1 --leak-check=full ./tests/test_adiabat
